@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.slider {
  margin: 200px 0;

  :global {
    .swiper-button-prev,
    .swiper-button-next {
      color: #fff;
      width: 32px;
      height: 32px;

      &::after {
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
      }
    }
  }
}

.slide {
  position: relative;
  aspect-ratio: 4 / 5;
  overflow: hidden;
  background: $color-background-alt;
}

.image {
  object-fit: cover;
}
