.img {
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
}

.navbar {
  max-height: 8rem;
}

.footer {
  max-height: 3rem;
}

.menu {
  max-height: 8rem;
}

.admin {
  max-height: 3.25rem;
}

.adminLogin {
  max-height: 4.5rem;
  margin: 0 auto;
}
